/*
Colors used :
Primary color (OldLace) : #FDF5E6;
Primary text (DarkSlateGrey) : #2F4F4F;
Secondary text (LightSlateGrey) : #778899;
Secondary color (PeachPuff) : #FFDAB9;
Secondary color (RosyBrown) : #BC8F8F;
Tertiary color (Tan) : #D2B48C;
Tertiary color (Wheat) : #F5DEB3;
*/

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/*sections*/
body {
  background-color: #ffffff;
  font-family: 'Pompiere', cursive;
  font-size: 20px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #2f4f4f
}
h1, h2, h3, h4 {
  line-height: 1.4;
  color: #2f4f4f;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
  color: #2f4f4f;
}
h2 {
  font-size: 2.25em;
  font-weight: 700;
  color: #2f4f4f;
}
h3 {
  font-size: 1.75em;
  font-weight: 400;
  color: #2f4f4f;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
  color: #2f4f4f;
}
span, p {
  line-height: 1.4;
  color: #2f4f4f;
}
span {
  font-size: 1.15em;
  font-weight: 400;
  color: #2f4f4f;
}
p {
  font-size: 1.15em;
  font-weight: 400;
  color: #2f4f4f;
}
img {
  width: 100%;
}
header {
  background-color: #fdf5e6;
  padding: 10px 0;
}
a {
  color: #a36666;
  text-decoration: none; /* No underlining */
}
a:visited { /*visited link */
  color: #778899;
}
a:hover,
a:focus {
  color: #a36666;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #a36666;
}
#index {
  color: #906a38;
}
#about {
  color: #906a38;
}
#resume {
  color: #906a38;
}
#contact {
  color: #906a38;
}

.button {
  display: inline-block;
  background-color: #ffffff;
  font-weight: 700;
  color: #778899;
  text-decoration: none;
  padding: 10px;
  border-radius: 35px;
  background: #ffffff;
  box-shadow: 5px 5px 0px #778899, -5px -5px 0px #ffffff;
  border: 1px solid #778899;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.button.hover {
  opacity: 0.8;
}
.button.contact {
  display: inline-block;
  color: #a36666;
  text-transform: uppercase;
  background: #fdf5e6;
  box-shadow: 5px 5px 0px #a36666, -5px -5px 0px #fdf5e6;
  border: 1px solid #a36666;
}
.button.contact:hover {
  color: #503030;
}
.button.download {
  display: inline-block;
  background-color: transparent;
  color: #a36666;
  text-transform: uppercase;
  border: 2px solid #a36666;
}
.button.download:hover {
  color: #503030;
}

/* Layout styling */

.container {
  padding: 0 15px;
}
#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #bc8f8f;
}
#planners .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #bc8f8f;
}
#dunkin .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #bc8f8f;
}
#art .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #bc8f8f;
}
#berlin .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #bc8f8f;
}
#donut .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #bc8f8f;
}
#hero h1 {
  text-align: center;
}
#hero h4 {
  text-align: center;
}

/*navigation*/
header {
  background-color: #fdf5e6;
  text-align: center;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  width: 100%;
}

footer {
  background-color: #fdf5e6;
  text-align: center;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
  width: 100%;
}

.logo {
  max-width: 150px;
  font-size: 20px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navtoggle li:not(:last-child) {
  display: none;
}

nav > ul > li > a {
  display: inline-block;
  padding: 0 15px;
  color: #906a38;
  text-transform: uppercase;
  text-decoration: none;
}

/* hamburger menu */
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 15px;
  font-size: 20px;
  color: #503030;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: inline-block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,255,255,0.8);
  border-bottom: #906a38;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

#hero {
  background-color: #fdf5e6;
  padding: 10px 0;
  display: inline-block;
  width: 100%;
}
#about .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #fdf5e6;
}
#touch {
  text-align: center;
}
#copyright {
  text-align: center;
}

/* Medium device */
@media only screen and (min-width: 641px){
  header{
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul > li {
    display: inline-block;
    position: relative;
  }

.navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  #work img {
    margin-top: 70px;
  }

  .row:after {
    content: "";
    clear: both;
    display: table;
  }

  #about h3 {
    margin-top: 0;
  }

  #story img{
    margin-top: 70px;
  }
}

/* Large device */
@media only screen and (min-width: 1024px){
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {fill: #ffffe0;}
  50% {fill: #ffff00;}
  100% {fill: #ffd700;}
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px,48px);}
}
.cloud-back {
  animation-duration: 34s;
  animation-name: cloud-move-reverse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
